// Importing base styles, components, and utilities from Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Define a list of custom fonts
$fonts: ('awesome', 'bank-gothic', 'basileus', 'bauhaus',
        'bellefair', 'bradley-hand', 'brush-script', 'cascadia-code',
        'daft-font', 'digital-7', 'ghosts', 'harlow-solid', 'kapital-kanji',
        'kartoons', 'linkin-font', 'ocr', 'old-english',
        'pixel');

// Define a list of custom colors
$colors: (black, gray, red, orange, yellow, lime, green, teal, cyan, blue, indigo, violet, purple, fuchsia, pink);

// Import custom fonts
@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('./assets/fonts/#{$font}.ttf');
  }
}

// Setting box-sizing, margin, and padding for all elements in the document
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Apply custom fonts
@each $font in $fonts {
  .#{$font}-font {
    font-family: $font, 'sans-serif';
    font-size: 16px;
  }
}

// Apply custom text colors
@each $color in $colors {
  .#{""+$color}-color {
    color: $color;
  }
}

// Styling for elements with the .wall class
.wall {
  background-image: url('./assets/images/wall-background.jpg');
  width: 100%;
  min-height: calc(100vh);
}

// Styling for elements with the .preview class
.preview {
  background-image: url('./assets/images/wall-background.jpg');
  background-size: 160%;
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.5);
}

// Styling for elements with the .min-h class
.min-h {
  min-height: 180px;
}

/* Define the animation for all the dots */
.dot1, .dot2, .dot3 {
  animation: dot-animation 3s infinite;
}

/* Define the 'dot-animation' keyframes animation */
@keyframes dot-animation {
  0% {
    opacity: 1; /* The first dot is fully opaque */
  }
  33.33% {
    opacity: 0; /* The first dot disappears */
  }
  66.66% {
    opacity: 0; /* The second dot remains invisible */
  }
  100% {
    opacity: 1; /* The third dot is fully opaque */
  }
}

/* Delay the start of the animation for the second dot by 1 second */
.dot2 {
  animation-delay: 1s;
}

/* Delay the start of the animation for the third dot by 2 seconds */
.dot3 {
  animation-delay: 2s;
}

// Media query for screens with a minimum width of 600px
@media screen and (min-width: 600px) {
  // Styling for elements with the .max-w class within the media query
  .max-w {
    max-width: 25%;
  }
}