// Importing base styles, components, and utilities from Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Define a list of custom fonts
$fonts: ('awesome', 'bank-gothic', 'basileus', 'bauhaus',
        'bellefair', 'bradley-hand', 'brush-script', 'cascadia-code',
        'daft-font', 'digital-7', 'ghosts', 'harlow-solid', 'kapital-kanji',
        'kartoons', 'linkin-font', 'ocr', 'old-english',
        'pixel');

// Define a list of custom colors
$colors: (black, gray, red, orange, yellow, lime, green, teal, cyan, blue, indigo, violet, purple, fuchsia, pink);

// Import custom fonts
@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('./assets/fonts/#{$font}.ttf');
  }
}

// Setting box-sizing, margin, and padding for all elements in the document
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Apply custom fonts
@each $font in $fonts {
  .#{$font}-font {
    font-family: $font, 'sans-serif';
    font-size: 16px;
  }
}

// Apply custom text colors
@each $color in $colors {
  .#{""+$color}-color {
    color: $color;
  }
}

// Styling for elements with the .wall class
.wall {
  background-image: url('./assets/images/wall-background.jpg');
  width: 100%;
  min-height: calc(100vh);
}

// Styling for elements with the .preview class
.preview {
  background-image: url('./assets/images/wall-background.jpg');
  background-size: 160%;
  box-shadow: inset 0px 0px 75px rgba(0, 0, 0, 0.5);
}

// Styling for elements with the .min-h class
.min-h {
  min-height: 180px;
}

// Media query for screens with a minimum width of 600px
@media screen and (min-width: 600px) {
  // Styling for elements with the .max-w class within the media query
  .max-w {
    max-width: 25%;
  }
}